<%- include('../partials/html-head') %>
  <link rel="stylesheet" href="/stylesheets/recipes/new.css" />
  <%- include('../partials/nav') %>

    <body>
      <main>
      <section class="section-right">
        <form id="new-form" action="/recipes" method="POST">
          <h1>Add a new recipe link here:</h1>
          <h2>Enter the recipe name and paste the url in the spaces below: </h2>
          <div class="name-input recipe-form-div">
            <label for="name">Recipe Name:</label>
            <input type="text" id="name" name="name" required="required" autocomplete="off" />
          </div>
          <div class="url-input recipe-form-div">
            <label for="url" class="label">Paste the URL: </label>
            <input type="url" name="url" id="url" placeholder="https://example.com" pattern="https://.*" size="30"
              required />
          </div>
          <button class="new-recipe" type="sumbit">Save recipe</button>
        </form>
      </section>

      <section class="section-left">
        <img class="image" src="/french-toast.png" alt=""/>
      </section>
    </main>
    </body>

    <%- include('../partials/footer') %>