<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/recipes/new.css" />
<%- include('../partials/nav') %>

<body>
  

<h1>Add a new recipe here:</h1>
<div class="input">

  <form id="new-form" action="/recipes" method="POST">
  <div class="form-styler">

  <div class="name-input">
  <label for="name">Name:</label>
  <input type="text" id="name" name="name" required="required" autocomplete="off" /> 
  </div>

  <div class="ingredient-input">
  <label for="ingredients">Ingredients:</label>
  <input type="text" id="ingredients" name="ingredients" required="required" autocomplete="off" />
  </div>

  <div class="instructions-input">
  <label for="instructions">Instructions:</label>
  <input type="text" id="instructions" name="instructions" required="required"
  autocomplete="off" />
</div>

<div class="url-input">
  <label for="url" class="label">Save URL: </label>
  <input type="url" name="url" id="url" placeholder="https://example.com" pattern="https://.*" size="30" required />
</div>

  <button class="new-recipe" type="sumbit">Add recipe</button>
  </div>
  </form>

</div>

</body>

<%- include('../partials/footer') %>