@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 16px;
  padding: 10px;
}

nav a {
  text-decoration: none;
  font-family: 'IBM Plex Mono', monospace;
  color: black;
}

nav a:focus {
  text-decoration: none;
  font-family: 'IBM Plex Mono', monospace;
  color: red;
}

nav a:hover {
  text-decoration: none;
  font-family: 'IBM Plex Mono', monospace;
  color: red;
}

nav button {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 16px;
  background-color: #ffb703;
}

nav {
  display: flex;
  justify-content: space-evenly;
  font-size: 16px;
  font-size: 16px;
  padding: 10px;
}

nav a {
  text-decoration: none;
  color: black;
}

body {
  background-color: #fdf0cf;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%23ffb703' fill-opacity='0.4'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  font-family: 'IBM Plex Mono', monospace;
}

form {
  /* border: 1px solid blue; */
  padding: 16px 32px;
  background-color: white;
  font-family: 'IBM Plex Mono', monospace;
  border-radius: 10px;

}

form h1 {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 16px;
}

form h2 {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 16px;

}

form div {
  margin: 0px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  /* font-weight: 500; */
}

form div label {
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 400;

}

form div input {
  padding: 8px;
}

form button {
  padding: 8px;
  width: 100%;
  font-size: 16px;
  font-family: 'IBM Plex Mono', monospace;
  background-color: #ffb703;
}

main {
  width: 95%;
  display: flex;
  justify-content: center;
  /* /* padding: 10px; */
  border-radius: 10px;
  padding: 10px;
  margin: auto;
}

.section-right {
  width: 50%;
  background-color: white;
  border: solid black .05px;
  border-radius: 10px;
}

.section-left {
  border: 2px solid red;
  width: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  border: solid black .05px;
  border-radius: 10px;
}

.image {
  height: auto;
  width: 80%;
  object-fit: cover;
}


@media (max-width: 800px) {
  main {
    display: flex;
    justify-content: center;
  }

  .section-left {
    border: solid black .05px;
    border-radius: 10px;
  }

  .section-left {
    display: none;
    border: solid black .05px;
    border-radius: 10px;
  }
}

/* @media (max-width: 500px) {

  main {
    display: flex;
    justify-content: center;
  }

  .section-left {
    border: solid black .05px;
    border-radius: 10px;
  }

  .section-left {
    display: none;
    border: solid black .05px;
    border-radius: 10px;
  }

  form h1{
    font-size: 20px;
  }
} */


/* h1{
  display: flex;
  justify-content: center;
  padding: 20px;
  border: black solid 2px;
  background-color: #eae2b7;
}

.form-styler{
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  border: solid 2px black;
  background-color: #eae2b7;
}

label{
  padding: 10px;
}

input{
  width: 50%;
  display: block;
  margin: 0 auto;
  border: black 2px solid;
}

.name-input{
  display: flex;
  flex-direction: column;
  padding: 10px;

}
.ingredient-input{
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.instructions-input{
  display: flex;
  padding: 10px;
}

.url-input{
  display: flex;
  padding: 10px;
}


button.new-recipe{
  margin: 10px;
  padding: 10px;
  background-color: #144272;
  color: #eae2b7;
}

button.new-recipe:focus{
  margin: 10px;
  padding: 10px;
  background-color: orange;
  color: #144272;
}

button.new-recipe:hover{
  margin: 10px;
  padding: 10px;
  background-color: orange;
  color: #144272;
} */